/.gradle/
/build/
/CREDITS.txt
/assets/
/bin/
/com/
/LICENSE-Paulscode IBXM Library.txt
/LICENSE-Paulscode SoundSystem CodecIBXM.txt
/LICENSE.txt
/README.txt
/changelog.txt
/gradle.properties
/gradlew
/gradlew.bat
/mcmod.info
/pack.mcmeta
/runClient.launch
/runServer.launch
/setup.bat
/META-INF/
/gradle/
/run/
/temp/
/.settings/
/.classpath
/.project
